---
layout: default
title: Home
---

<section class="main-content">
  <div class="container main-grid">
    <!-- 타임라인 -->
    <div class="timeline-section" id="timeline-section">
      <div class="timeline-content" id="timeline-content">
        {% for post in site.posts %} {% unless post.next %}
        <h2 class="category-title font-mono">{{ post.date | date: '%Y' }}</h2>
        {% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture
        %} {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
        <h2 class="category-title font-mono">{{ post.date | date: '%Y' }}</h2>
        {% endif %} {% endunless %}
        <article class="post-item">
          <span class="post-meta date-label font-mono"
            >{{ post.date | date: "%b %d" }}</span
          >
          <div class="article-title font-mono">
            <a
              class="post-link"
              href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"
              >{{ post.title }}</a
            >
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
