<section class="intro">
  <div class="container">
    <div class="lead">
      <p><strong>카테고리 구조</strong></p>
      <ul>
        <li class="font-mono"><strong>000 Index</strong>: 아이디어 노트</li>
        <li class="font-mono"><strong>100 Private Log</strong>: 일상 기록</li>
        <li class="font-mono">
          <strong>200 Pick Up</strong>: 정리된 학습 내용
        </li>
        <li class="font-mono"><strong>300 Project</strong>: 주요 프로젝트</li>
        <li class="font-mono"><strong>400 Area</strong>: 학습 중인 내용</li>
        <li class="font-mono">
          <strong>500 Entertainment</strong>: 독서, 영화, 영상물 등 기록
        </li>
        <li class="font-mono">
          <strong>600 Archive</strong>: 보관된 자료 및 레퍼런스
        </li>
      </ul>
      <p>
        <strong>[공부]</strong><br />
        처음 공부하는 내용이면 '<span class="font-mono">400</span>'에
        저장한다.<br />
        공부를 마치면 '<span class="font-mono">200</span>'으로 이동시킨다.
      </p>
      <p>
        <strong>[아이디어]</strong><br />
        '<span class="font-mono">000</span>'에 아이디어를 작성한다.<br />
        프로젝트를 착수하면 '<span class="font-mono">300</span>'으로
        이동한다.<br />
        프로젝트하면서 배운 점이 있으면 '<span class="font-mono">200</span>'으로
        이동한다.
      </p>
    </div>
  </div>
</section>
